.ngv-panel {
  .card-header {
    border-radius: 0 !important;
    line-height: 34px;
  }
  .card-body {
    padding: 0;
  }
  .panel-crumb {
    .crumb-action {
      cursor: pointer;
    }
  }
  .float-right{
    .btn{
      margin: 0;
    }
  }
  
}
